@page "/"

a=<input type="number" @bind-value="a" />
<br />
b=<input type="number" @bind-value="b" />
<br />
c=<input type="number" @bind-value="c" />
<br />
<button @onclick="Draw">Draw</button>
<br />
<button @onclick="Clear">Clear</button>
<br />

<svg width="600" height="800" style="background-color:palegoldenrod">
    @((MarkupString)data)
</svg>


@code {
    string data = "";
    double a, b, c;
    protected override void OnInitialized()
    {
        for (int i = 0; i < 800; i++)
        {
            data += $@"<circle cx=""300"" cy=""{i}"" r=""2"" fill=""skyblue""> </circle>";
        }
        for (int i = 0; i < 600; i++)
        {
            data += $@"<circle cx=""{i}"" cy=""400"" r=""2"" fill=""skyblue""> </circle>";
        }
    }

    void Draw()
    {
        Parabola par = new Parabola(a, b, c);
        Point[] pArr = par.GetPoints();
        string[] colors = { "aliceblue", "crimson", "darkgreen", "darkorchid", "firebrick", "forestgreen", "gold", "hotpink", "indianred", "lavender", "limegreen", "magenta", "maroon", "midnightblue", "navy", "olive", "orange", "orangered", "orchid", "peru", "pink", "plum", "purple", "red", "royalblue", "saddlebrown", "salmon", "seagreen", "sienna", "silver", "slateblue", "slategray", "snow", "springgreen", "steelblue", "tan", "teal", "thistle", "tomato", "turquoise", "violet", "wheat", "white", "whitesmoke", "yellow", "yellowgreen", "darkcyan", "darkgoldenrod", "darkmagenta", "darksalmon" };
        Random rnd = new Random();
        int rColor = rnd.Next(0, colors.Length);
        for (int i = 0; i < pArr.Length; i++)
        {
            if (pArr[i].GetY() >= -10 && pArr[i].GetY() <= 10)
            {
                if (pArr[i].GetX() == 0 || pArr[i].GetY() == 0)
                {
                    data += $@"<circle cx=""{(pArr[i].GetX() + 10) * 30}"" cy=""{(-pArr[i].GetY() + 10) * 40}"" r=""5"" fill=""{colors[rColor]}"" />";
                }
                else
                {
                    data += $@"<circle cx=""{(pArr[i].GetX() + 10) * 30}"" cy=""{(-pArr[i].GetY() + 10) * 40}"" r=""1"" fill=""{colors[rColor]}"" />";
                }
            }
        }
    }

    void Clear()
    {
        data = "";
        OnInitialized();
    }
}
